form {
  margin: 5%;
  display: flex;
  flex-direction: column;
}

form > * {
  text-align: center;
}

button {
  margin: 1%;
}

input {
  border: 2px black solid;
}

label {
  border: 2px darkgray solid;
  background-color: lightgrey;
  margin: 1%;
  padding: 1%;
}

div {
  margin: 2%;
}

.methodSelect {
  border: 2px slategray solid;
  border-radius: 5%;
  background-color: darkgrey;
  margin: 0.5em;
  padding: 0.5em;
}
.methodSelect:active {
  background-color: darkslategray;
  color: white;
}
