.method {
  &.get {
    border: darkblue 1px solid;
    border-radius: 10%;
    color: white;
    background-color: darkblue;
    margin: 1%;
    padding: 1%;
    text-transform: uppercase;
  }
}

ul {
  list-style-type: none;
}

li {
  margin: 2%;
}
