.method {
  &.get {
    border: darkblue 1px solid;
    border-radius: 10%;
    background-color: darkblue;
    margin: 1%;
    padding: 1%;
    text-transform: uppercase;
  }
}

li {
  margin: 2%;
}
